:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1B244A;
    font-family: Verdana;
    color: #eeeeee;
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

a {
    color: #ff5c77;
}

button {
    border-color: #9AABD8;
    background-color:#1B244A;
    color: #9AABD8;
    font-family: monospace;
    font-size: 20px;
    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-home, .score-guest {
    background-color: #080001;
    color: #F94F6D;
    font-family: monospace;
    font-weight: bold;
    font-size: 100px;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    min-width: 160px;
}

.scoreHome-highlight {
    border: 1px solid limegreen;
}

.scoreGuest-highlight {
    border: 1px solid limegreen;
}

.button-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.madeby {
    text-align: right;
}